/* Font Imports: Kristi and SpecialElite */
@font-face {
    font-family: "Kristi";
    src: url(./Fonts/Kristi-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "SpecialElite";
    src: url(./Fonts/SpecialElite-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
:root {
    font-size: 100%;
    background-color: black;
}



header {
    display: flex;
    width: 100%;
    justify-content: center;
    position: fixed;
    font-family: "SpecialElite";
    margin-top: 1rem;
    color: white;
    z-index: 9999;
}
header ul {
    list-style: none;
    display: flex;
    gap: 5rem;
}




/* Home page photo gallery CSS */
#img1 {
    width: 100%;
    height: 200vh;
    background-image: url(../src/Images/126.JPEG);
    background-size: cover;
    background-position: 50% 100%;
}
#img3 {
    width: 100%;
    height: 200vh;
    background-image: url(../src/Images/IMG_6325.JPG);
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
}
#img2 {
    width: 100%;
    height: 150vh;
    background-image: url(../src/Images/IMG_6330.JPG);
    background-size: cover;
    background-position: 50% 80%;
    animation: pic3 6s step-end infinite;
}
@keyframes pic3 {
    25% {background-image: url(../src/Images/IMG_6419.JPG)}
    50% {background-image: url(../src/Images/IMG_6330.JPG)}
    75% {background-image: url(../src/Images/IMG_6419.JPG)}
    100% {background-image: url(../src/Images/IMG_6330.JPG)}
}
#img5 {
    width: 100%;
    height: 150vh;
    background-image: url(../src/Images/IMG_2993.JPG);
    background-size: cover;
    background-position: 50% 95%;
}
#img7 {
    width: 100%;
    height: 200vh;
    background-image: url(../src/Images/IMG_3612.JPG);
    background-size: cover;
    background-position: 50% 100%;
}
#img6 {
    width: 100%;
    height: 200vh;
    background-image: url(../src/Images/IMG_2688.JPG);
    background-size: cover;
    background-position: 50% 80%;
}
#img4 {
    width: 100%;
    height: 220vh;
    background-image: url(../src/Images/0B739AF6-EEDF-431A-84C6-25E0C440C593.JPG);
    background-size: cover;
    background-position: 50% 100%;
}
#img8 {
    width: 100%;
    height: 100vh;
    background-image: url(../src/Images/simpxfire.jpeg);
    background-size: contain;
    background-position: 50% 43%;
}


#mainText {
    display: flex;
    gap: 50rem;
    width: 100%;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    position: fixed;
    color: white;
    font-size: 5rem;
}
#simp {
    font-family: "Kristi";
}





/* Music Page styling */
.musicBG {
    width: 100%;
    height: 100vh;
    background-image: url(../src/Images/background.JPEG);
    background-size: cover;
    background-position: 50% 50%;
    z-index: 0;
}
.fader {
    width: 100%;
    height: 100vh;
    background-color: #D7D4DB;
    opacity: 0.5;
    z-index: 1;
    position: relative;
    bottom: 35rem;
}

.latest img {
    width: 50vw;
    height: auto;
}


/* Hero Section CSS */
.hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24rem;
    width: 100%;
    height: auto;
    position: relative;
    top: 15rem;
    z-index: 999;
}
.hero a {
    text-decoration: none;
}
.heroImage img {
    width: 35rem;
    height: 35rem;
    box-shadow: 2rem 2rem 4rem rgba(0, 0, 0, 0.25);
    transition: all 0.5s;
    cursor: pointer;
}
.heroImage img:hover {
    transform: scale(1.05);
}
.heroImage img:active {
    transform: scale(0.95);
}
.cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#songTitle {
    font-family: "SpecialElite";
    font-size: 4rem;
    color: #184461;
    text-align: center;
}


/* Call to Action button styling */
 .button {
    border: none;
    background-color: #184461;
    font-family: "SpecialElite";
    font-size: 1.5rem;
    color: #D7D4DB;
    text-align: center;
    padding: 0.5rem 5rem;
    cursor: pointer;
    transition: all 0.2s;
}
.button a {
    text-decoration: none;
    color: #D7D4DB;
}
.button:hover {
    background-color: #D7D4DB;
    color: #184461;
}
.button:active {
    transform: scale(0.85);
    background-color: #1C5D3B;
    color: #D7D4DB;
}

.tracklist {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 2rem;
}
.tracklist span {
    font-size: 4.5rem;
}
.firstAlbum {
    width: 100%;
    height: 100vh;
    background-image: url(../src/Images/IMG_7376.JPG);
    background-size: cover;
    background-position: 50% 22%;
    background-attachment: fixed;
    padding: 2.5rem;
    color: white;
    font-family: "SpecialElite";
}
.firstAlbum a {
    transition: all 0.5s;
}
#songLinks {
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 1rem;
}
#songTitles {
    text-align: center;
}
#spotify:hover {
    color: #1ed760;
}
#apple:hover {
    color: #fc3c44;
}
#amazon:hover {
    color: #23d1da;
}
#soundcloud:hover {
    color: #ff5600;
}
#vid {
    width: 100vw;
    height: 100vh;
}


.simpsesh {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding: 12.5rem;
    background-image: url(../src/Images/6.JPEG);
    background-size: cover;
    background-position: 50% 30%;
    background-attachment: fixed;
}
.simpsesh iframe {
    width: 60%;
}




footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
    width: 100%;
    position: fixed;
    bottom: 0;
    font-family: "SpecialElite";
    margin-bottom: 2.05rem;
    color: white;
    z-index: 9999;
}
#copyright {
    font-size: 0.85rem;
}
footer ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}
#footerForm {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 0.75rem;
}



.contactPage {
    background-image: url(./Images/AA8A283101.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 25%;
    width: 100vw;
    height: 100vh;
    animation: conbg 10s step-end infinite;
}
@keyframes conbg {
    25% {background-image: url(./Images/AA8A281301.JPG);
        background-position: 50% 35%;}
    50% {background-image: url(./Images/AA8A283101.JPG);
        background-position: 50% 25%;}
    75% {background-image: url(./Images/AA8A281301.JPG);
        background-position: 50% 35%;}
    100% {background-image: url(./Images/AA8A283101.JPG);
        background-position: 50% 25%;}
}

/* Contact Page CSS Styling */
.contactContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 5rem;
    padding-left: 2.75rem;
    padding-right: 2.75rem;
    padding-bottom: 2.75rem;
    margin-left: 10.85rem;
    margin-right: 20rem;
    font-family: 'SpecialElite';
}
#conHeader {
    font-size: 6rem;
    font-family: 'Kristi';
    color: white;
}
.contactContainer p {
    font-size: 1.5rem;
    width: 75rem;
    line-height: 2rem;
    border: white solid;
    border-top-left-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
    padding: 1rem;
    color: white;
}
.contactContainer button {
    width: 20rem;
    margin-bottom: 4rem;
    text-align: center;
}
.conButton {
    border: white solid;
    background-color: transparent;
    font-family: "SpecialElite";
    font-size: 1.5rem;
    color: #D7D4DB;
    text-align: center;
    padding: 0.5rem 5rem;
    cursor: pointer;
    transition: all 0.2s;
}
.conButton a {
    text-decoration: none;
    color: #D7D4DB;
}
.conButton:hover {
    background-color: white;
    color: #be1306;
}
.conButton:active {
    transform: scale(0.85);
    background-color: #de9200;
    color: white;
}



/* Contact form CSS styling */
.contactForm {
    height: 10rem;
    width: 100%;
}
.contactForm form{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    border: white solid;
    color: #D7D4DB;
    border-radius: 1rem;
    background-color: black;
    position: relative;
    height: 50rem;
    bottom: 40.4rem;
    opacity: 0.97;
    transition: all 0.4s;
    box-shadow: 2rem 2rem 4rem rgba(0, 0, 0, 0.25);
}
.formButton {
    border: none;
    background-color: white;
    font-family: "SpecialElite";
    font-size: 1.5rem;
    color: black;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;
}
.formButton:hover {
    transform: scale(1.03);
}
.formButton:active {
    transform: scale(0.85);
}
.formButton:disabled {
    background-color: #D7D4DB;
    color: black;
    border: whitesmoke dotted;
    cursor: not-allowed;
}
.formContents {
    display: flex;
    flex-direction: column;
    height: 100%;
}
#contactForm {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    font-family: 'SpecialElite';
}
#contactForm input {
    width: 25rem;
    height: 2rem;
    color: black;
}
#messageForm {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 1rem;
    width: 25rem;
    justify-content: center;
    align-items: center;
    font-family: 'SpecialElite';
    text-align: start;
}
#messageForm textarea {
    color: black;
}
.formClose {
    cursor: pointer;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    margin-top: 1rem;
    margin-left: 70rem;
}

/* Hides mobile/tablet menu button when on Large screens */
@media screen and (min-width: 1020px) {
    #mobile {
        display: none;
    }
    .mobileCon {
        display: none;
    }
}



/* Medium/Small Laptop screen formatting for smooth transitions */
@media screen and (min-width:1021px) and (max-width: 1700px)
{}





/* Mobile/Tablet styling Below */
@media screen and (max-width: 1020px) {

    header {
        width: 100vw;
        font-size: 0.85rem;
    }
    header ul {
        gap: 3.5rem;
    }


    #img1 {
        height: 100vh;
    }
    #img2 {
        height: 100vh;
    }
    #img3 {
        background-attachment: local;
        height: 100vh;
    }
    #img4{
        height: 100vh;
    }
    #img5 {
        height: 100vh;
    }
    #img6 {
        height: 100vh;
    }
    #img7 {
        height: 100vh;
    }
    #img8 {
        background-size: cover;
        max-width: 100%;
    }




    .fader{
        display: none;
    }

    .hero {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        width: 100%;
        gap: 1.75rem;
    }
    .heroImage {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .heroImage img {
        width: 80%;
        height: auto;
    }
    .cta {
        text-align: center;
    }
    #songTitle {
        font-size: 2.25rem;
        color: #184461;
    }


    .firstAlbum {
        padding: 1rem;
        background-attachment: local;
        height: 125vh;
    }
    .tracklist {
        font-size: 1rem;
    }
   .tracklist span {
        font-size: 2rem;
    }
    .css-14k6gbh {
        font-size: 0.75rem;
    }
    #songTitles {
        font-size: 0.75rem;
        padding: 0;
        width: 5.5rem;
    }

    .simpsesh {
        padding: 0;
        align-items: center;
        justify-content: center;
        background-attachment: local;
    }
    .simpsesh iframe {
       width: 80%;
       height: 15rem;
    }


    .contactContainer {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        max-width: 100%;
        padding: 0.5rem;
        margin: 0;
        padding-top: 2rem;
        padding-bottom: 10rem;
    }
    .contactContainer p {
        font-size: 0.8rem;
        width: 100%;
        max-width: -moz-fit-content;
        max-width: fit-content;
        text-align: justify;
        border: #D7D4DB solid;
        border-radius: 0;
        margin: 0;
    }
    #conHeader {
        font-size: 4rem;
        text-align: center;
    }


    .contactForm {
        height: 100%;
        width: 100%;
    }
    .contactForm form {
        opacity: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        font-size: 1.5rem;
        z-index: 9999;
        border-radius: 0;
    }
    .formButton {
        display: none;
    }
    .conButton {
        display: none;
    }
    .mobileCon {
        border: none;
        font-family: "SpecialElite";
        font-size: 1.5rem;
        color: #D7D4DB;
        text-align: center;
        padding: 0.5rem 5rem;
        cursor: pointer;
        transition: all 0.2s;
    }
    .mobileCon a {
        text-decoration: none;
        color: #D7D4DB;
    }
    .mobileCon:hover {
        background-color: white;
        color: #be1306;
    }
    .mobileCon:active {
        transform: scale(0.85);
        background-color: #de9200;
        color: white;
    }
    .mobileCon:disabled {
        background-color: #D7D4DB;
        color: #1C5D3B;
        border: whitesmoke dotted;
        cursor: not-allowed;
    }
    #contactForm input {
        width: 100%;
    }
    #messageForm {
        width: 12rem;
        height: 5rem;
        align-items: center;
    }
    .formClose {
        margin-left: 20rem;
        color: #D7D4DB;
    }

    #h1 {
        font-size: 2rem;
    }



    footer {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 0.5rem;
        margin-bottom: 0.5rem;
    }
    #simpcxty {
        font-size: 3rem;
    }
    .footerForm {
        font-size: 1rem;
        align-items: center;
        gap: 0.5rem;
    }
    #footerForm {
        font-size: 0.75rem;
    }
    #footerForm input {
        width: 100%;
        max-width: 100%;
    }
    #copyright {
        font-size: 1rem;
    }
}
@media screen and (max-width: 400px) {
    #songTitle{
        font-size: 2rem;
    }
    .button {
        padding-left: 3.5rem;
        padding-right: 3.5rem;
    }
    .button p {
        text-align: center;
        font-size: 1.25rem;
    }
    .formClose {
        margin-left: 13rem;
        color: #D7D4DB;
    }
}
