/* Font Imports: Kristi and SpecialElite */
@font-face {
    font-family: "Kristi";
    src: url(./Fonts/Kristi-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "SpecialElite";
    src: url(./Fonts/SpecialElite-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
:root {
    font-size: 100%;
    background-color: black;
}

.Loader {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #184461;
    color: #D7D4DB;
    text-align: center;
}
.Loader p {
    font-family: "SpecialElite";
    font-size: 4rem;
}
.Loader h2 {
    font-family: "Kristi";
    font-size: 5rem;
}
.loadContent {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

header {
    display: flex;
    width: 100%;
    justify-content: center;
    position: fixed;
    font-family: "SpecialElite";
    margin-top: 1rem;
    color: white;
    z-index: 8000;
}
header ul {
    list-style: none;
    display: flex;
    gap: 5rem;
}




/* Home page photo gallery CSS */
#img1 {
    width: 100%;
    height: 200vh;
    background-image: url(../src/Images/126.webp);
    background-size: cover;
    background-position: 50% 100%;
}
#img2 {
    width: 100%;
    height: 150vh;
    background-image: url(../src/Images/IMG_6330.webp);
    background-size: cover;
    background-position: 50% 80%;
    animation: pic3 6s step-end infinite;
}
#img3 {
    width: 100%;
    height: 200vh;
    background-image: url(../src/Images/IMG_6325.webp);
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
}
@keyframes pic3 {
    25% {background-image: url(../src/Images/IMG_6419.webp)}
    50% {background-image: url(../src/Images/IMG_6330.webp)}
    75% {background-image: url(../src/Images/IMG_6419.webp)}
    100% {background-image: url(../src/Images/IMG_6330.webp)}
}
#img4 {
    width: 100%;
    height: 220vh;
    background-image: url(../src/Images/0B739AF6-EEDF-431A-84C6-25E0C440C593.webp);
    background-size: cover;
    background-position: 50% 80%;
}
#img5 {
    width: 100%;
    height: 150vh;
    background-image: url(../src/Images/IMG_2993.webp);
    background-size: cover;
    background-position: 50% 95%;
}
#img6 {
    width: 100%;
    height: 200vh;
    background-image: url(../src/Images/IMG_2688.webp);
    background-size: cover;
    background-position: 50% 80%;
}
#img7 {
    width: 100%;
    height: 200vh;
    background-image: url(../src/Images/IMG_3612.webp);
    background-size: cover;
    background-position: 50% 100%;
}
#img8 {
    width: 100%;
    height: 100vh;
    background-image: url(../src/Images/simpxfire.webp);
    background-size: contain;
    background-position: 50% 43%;
}


#mainText {
    display: flex;
    gap: 50rem;
    width: 100%;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    position: fixed;
    color: white;
    font-size: 5rem;
}
#simp {
    font-family: "Kristi";
    cursor: pointer;
}





/* Music Page styling */
.musicBG {
    width: 100%;
    height: 100vh;
    background-image: url(../src/Images/background.webp);
    background-size: cover;
    background-position: 50% 50%;
    z-index: 0;
}
.fader {
    width: 100%;
    height: 100vh;
    background-color: #D7D4DB;
    opacity: 0.5;
    z-index: 1;
    position: relative;
    bottom: 35rem;
}

.latest img {
    width: 50vw;
    height: auto;
}


/* Hero Section CSS */
.hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24rem;
    width: 100%;
    height: auto;
    position: relative;
    top: 15rem;
    z-index: 999;
}
.hero a {
    text-decoration: none;
}
.heroImage img {
    width: 35rem;
    height: 35rem;
    box-shadow: 2rem 2rem 4rem rgba(0, 0, 0, 0.25);
    transition: all 0.5s;
    cursor: pointer;
}
.heroImage img:hover {
    transform: scale(1.05);
}
.heroImage img:active {
    transform: scale(0.95);
}
.cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#songTitle {
    font-family: "SpecialElite";
    font-size: 4rem;
    color: #184461;
    text-align: center;
}
.trackCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

/* Call to Action button styling */
 .button {
    border: none;
    background-color: #184461;
    font-family: "SpecialElite";
    font-size: 1.5rem;
    color: #D7D4DB;
    text-align: center;
    padding: 0.5rem 5rem;
    cursor: pointer;
    transition: all 0.2s;
}
.button a {
    text-decoration: none;
    color: #D7D4DB;
}
.button:hover {
    background-color: #D7D4DB;
    color: #184461;
}
.button:active {
    transform: scale(0.85);
    background-color: #1C5D3B;
    color: #D7D4DB;
}

.tracklist {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 2rem;
}
.tracklist span {
    font-size: 4.5rem;
}
.firstAlbum {
    width: 100%;
    height: 200vh;
    background-image: url(../src/Images/IMG_7376.webp);
    background-size: cover;
    background-position: 50% 22%;
    background-attachment: fixed;
    padding: 2.5rem;
    color: white;
    font-family: "SpecialElite";
}
.firstAlbum a {
    transition: all 0.5s;
}
.trackGrid {
    padding-left: 10rem;
    padding-right: 10rem;
}
#songLinks {
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
#songTitles {
    text-align: center;
    font-size: 1.75rem;
}
#spotify:hover {
    color: #1ed760;
}
#apple:hover {
    color: #fc3c44;
}
#amazon:hover {
    color: #23d1da;
}
#soundcloud:hover {
    color: #ff5600;
}
#vid {
    width: 100%;
    height: 100vh;
}


.simpsesh {
    display: flex;
    justify-content: center;
    height: 100vh;
    padding: 12.5rem;
    background-image: url(../src/Images/6.webp);
    background-size: cover;
    background-position: 50% 30%;
    background-attachment: fixed;
}
.simpsesh iframe {
    width: 60%;
}




footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
    width: 100%;
    position: fixed;
    bottom: 0;
    font-family: "SpecialElite";
    margin-bottom: 2.05rem;
    color: white;
    z-index: 9999;
}
#copyright {
    font-size: 0.85rem;
}
footer ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}
#footerForm {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 0.75rem;
}


.contactPage {
    height: 100vh;
}

/* Contact Page CSS Styling */
.conCards {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "SpecialElite";
    background-image: url(./Images/BSIMP.webp);
    background-size: cover;
    background-attachment: fixed;
}
.cardHolder {
    height: 70vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: white;
    cursor: pointer;
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.25);
    transition: all 2.2s;
}
.cardHolder h2 {
    font-size: 1.75rem;
}
.cardHolder:hover {
    transform: scale(1.05);
}
#text {
    padding: 2rem;
}
.imgHolder {
    overflow: hidden;
    height: 20rem;
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
}
.cardHolder img {
    width: 20vw;
    height: auto;
}
.contactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 5rem;
    gap: 5rem;
    background-color: #184461;
}
#conHeader {
    font-size: 6rem;
    font-family: 'Kristi';
    color: white;
}
.contactContainer p {
    font-size: 1.5rem;
    line-height: 2rem;
    color: white;
}
.contactContainer button {
    width: 20rem;
    margin-bottom: 4rem;
    text-align: center;
}
.conButton {
    border: white solid;
    background-color: transparent;
    font-family: "SpecialElite";
    font-size: 1.5rem;
    color: #D7D4DB;
    text-align: center;
    padding: 0.5rem 5rem;
    cursor: pointer;
    transition: all 0.2s;
}
.conButton a {
    text-decoration: none;
    color: #D7D4DB;
}
.conButton:hover {
    background-color: white;
    color: #184461;
}
.conButton:active {
    transform: scale(0.85);
    background-color: #184461;
    color: white;
}



/* Contact form CSS styling */
.contactForm {
    width: 85vw;
}
.contactForm form{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    border: white solid;
    color: #184461;
    border-radius: 0.25rem;
    background-color: #D7D4DB;
    position: relative;
    height: 55rem;
    bottom: 40.4rem;
    opacity: 0.975;
    transition: all 0.4s;
    box-shadow: 2rem 2rem 4rem rgba(0, 0, 0, 0.25);
}
.formButton {
    border: none;
    background-color: white;
    font-family: "SpecialElite";
    font-size: 1.5rem;
    color: #184461 !important;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;
}
.formButton:hover {
    transform: scale(1.03);
}
.formButton:active {
    transform: scale(0.85);
    color: white !important;
    background-color: #184461;
}
.formButton:disabled {
    background-color: grey;
    color: #D7D4DB !important;
    border: whitesmoke dotted;
    cursor: not-allowed;
}
.formContents {
    display: flex;
    flex-direction: column;
    height: 100%;
}
#contactForm {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    font-family: 'SpecialElite';
}
#contactForm input {
    width: 25rem;
    height: 2rem;
    color: black;
    padding: 0.5rem;
}
#messageForm {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 1rem;
    padding: 0.5rem;
    width: 25rem;
    justify-content: center;
    align-items: center;
    font-family: 'SpecialElite';
    text-align: start;
}
#messageForm textarea {
    color: black;
}
.formClose {
    cursor: pointer;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    margin-top: 0.25rem;
    margin-left: 75rem;
}

/* Hides mobile/tablet menu button when on Large screens */
@media screen and (min-width: 1020px) {
    #mobile {
        display: none;
    }
    .mobileCon {
        display: none;
    }
}



/* Medium/Small Laptop screen formatting for smooth transitions */
@media screen and (min-width:1021px) and (max-width: 1700px)
{
    .musicBG {
        height: 110vh;
    }
    .fader {
        height: 110vh;
    }
    .hero {
        top: 10rem;
        gap: 10rem;
    }
    .firstAlbum {
        height: 250vh;
    }


    .contactForm {
        position: fixed;
        z-index: 1000;
    }
    .contactForm form {
    bottom: 98.5rem;
    right: 1rem;
    width: 90vw;
    height: 100vh;
    }
    .formClose {
        margin-left: 75rem;
    }
}


@media screen and (max-width: 1020px) and (orientation: landscape) {

    #img1 {
        height: 250vh !important;
    }
    #img2 {
        height: 150vh !important;
    }
    #img3 {
        background-attachment: local;
        height: 250vh !important;
    }
    #img4{
        height: 300vh !important;
    }
    #img5 {
        height: 175vh !important;
    }
    #img6 {
        height: 200vh !important;
    }
    #img7 {
        height: 200vh !important;
    }
    #img8 {
        background-size: contain !important;
        max-width: 100%;
    }
    .musicBG {
        height: 150vh;
    }

    #hero{
        flex-direction: row;
        gap: 5rem;
    }
    #songTitle {
        background-color: rgba(0, 0, 0, 0) !important;
    }
    .heroImage {
        width: 35vw;
    }
    .heroImage img {
        width: 2rem;
        height: auto;
    }
    .firstAlbum {
        padding: 1rem;
        background-attachment: local;
        height: 350vh !important
    }
    .simpsesh {
        height: 150vh;
    }

    .conCards {
        flex-direction: row !important;
        height: 150vh !important;
    }
    .cardHolder {
        width: 35vw !important;
        height: 80vh !important;
    }
    .imgHolder {
        height: 50rem !important;
        display: none;
    }
    #swriter {
        background-image: url(./Images/firehouse.webp);
        background-size: cover;
        color: white
    }
    #designer {
        background-image: url(./Images/AA8A281301.webp);
        background-size: cover;
        color: white;
    }
    #text {
        background-color: rgba(0, 0, 0, 0.25);
    }
    .contactContainer {
        display: flex;
        flex-direction: row;
        height: 150vh;
        gap: 1.5rem !important;
    }
    .contactContainer p {
        padding: 1rem;
    }
    .contactForm {
        width: 100vw;
        height: 100vh;
    }
    .contactForm form {
        gap: 0rem;
        height: 140vh !important;
        position: fixed !important;
        top: -5.75rem !important;
    }
    .mobileCon {
        width: 20vw !important;
    }
    .formContents {
        transform: scale(0.65);
    }
    .formClose {
        margin-left: 75vw !important;
    }
    .formClose svg {
        width: 1.5rem;
    }
    #contactForm, #messageForm {
        font-size: 0.75rem;
        margin: 0.25rem;
    }
    #contactForm input, #messageForm textarea {
        font-size: 0.65rem !important;
    }
    #messageForm {
        width: 25vw !important;
        height: 30vh !important;
        flex-grow: 0;
    }
}


/* Mobile/Tablet styling Below */
@media screen and (max-width: 1020px) {
    .Loader {
        padding: 1.5rem !important;
    }
    .Loader p {
        font-size: 4rem !important;
    }
    .Loader h2 {
        font-size: 2.5rem !important;
    }
    .spin {
        width: 5rem !important;
        height: 5rem !important;
    }
    .loadContent {
        height: 80vh !important;
        gap: 2rem !important;
    }
    header {
        width: 100vw;
        font-size: 0.85rem;
    }
    header ul {
        gap: 3.5rem;
    }


    #img1 {
        height: 100vh;
    }
    #img2 {
        height: 100vh;
    }
    #img3 {
        background-attachment: local;
        height: 100vh;
    }
    #img4{
        height: 100vh;
    }
    #img5 {
        height: 100vh;
    }
    #img6 {
        height: 100vh;
    }
    #img7 {
        height: 100vh;
    }
    #img8 {
        background-size: cover;
        max-width: 100%;
    }




    .fader{
        display: none !important;
    }

    .hero {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        width: 100%;
        gap: 1.75rem;
        top: 10rem;
    }
    .heroImage {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .heroImage img {
        width: 80%;
        height: auto;
    }
    .cta {
        text-align: center;
        gap: 1rem;
    }
    #songTitle {
        font-size: 2.25rem;
        color: #D7D4DB;
        background-color: rgba(0, 0, 0, 0.15);
    }


    .firstAlbum {
        padding: 1rem;
        background-attachment: local;
        height: 175vh;
    }
    .tracklist {
        font-size: 1rem;
    }
   .tracklist span {
        font-size: 2rem;
    }
    .css-14k6gbh {
        font-size: 0.75rem;
    }
    #songTitles {
        font-size: 0.75rem;
        padding: 0;
        width: 5.5rem;
    }
    #songLinks svg {
        width: 1.25rem;
        height: auto;
    }
    .trackGrid {
        padding: 0;
    }
    .trackCards {
        gap: 1rem;
    }

    .simpsesh {
        padding: 0;
        align-items: center;
        justify-content: center;
        background-attachment: local;
    }
    .simpsesh iframe {
       width: 80%;
       height: 15rem;
    }



    .contactPage {
        background-position: center;
    }
    .conCards {
        flex-direction: column;
        height: 200vh;
    }
    .cardHolder {
        width: 90vw;
        height: 65vh;
        justify-content: center;
    }
    .cardHolder h2 {
        font-size: 1.25rem;
    }
    .cardHolder p {
        font-size: 0.85rem;
    }
    .imgHolder {
        width: 90vw;
        height: 30vh;
    }
    .cardHolder img {
        width: 90vw;
    }
    .contactContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        padding: 1rem;
        margin: 0;
    }
    .contactContainer p {
        font-size: 0.8rem;
        text-align: justify;
        border: #D7D4DB solid;
        border-radius: 0;
        margin: 0;
        padding: 1rem;
    }
    #conHeader {
        font-size: 4rem;
        text-align: center;
    }


    .contactForm {
        height: 100%;
        width: 100%;
    }
    .contactForm form {
        opacity: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: none;
        position: fixed;
        top: 0rem;
        right: 0rem;
        width: 100%;
        height: 100vh;
        font-size: 1.5rem;
        z-index: 9999;
        border-radius: 0;
        gap: 1rem;
    }
    #contactForm, #messageForm {
        font-size: 1rem;
        margin: 0.5rem;
    }
    #contactForm input, #messageForm textarea {
        font-size: 0.65rem !important;
    }
    #contactForm {
        width: 50vw !important;
    }
    #messageForm {
        width: 50vw !important;
        height: 25vh !important;
        flex-grow: 0;
    }
    .formButton {
        display: none;
    }
    .conButton {
        display: none;
    }
    .mobileCon {
        border: none;
        background-color: white;
        font-family: "SpecialElite";
        font-size: 1.5rem;
        color: #184461;
        text-align: center;
        cursor: pointer;
        transition: all 0.2s;
        padding: 1rem;
        text-align: center;
        width: 40vw !important;
    }
    .mobileCon a {
        text-decoration: none;
        color: #D7D4DB;
    }
    .mobileCon:hover {
        background-color: white;
        color: #184461;
    }
    .mobileCon:active {
        transform: scale(0.85);
        background-color: 1844610;
        color: white;
    }
    .mobileCon:disabled {
        background-color: grey;
        color: #D7D4DB;
        border: whitesmoke dotted;
        cursor: not-allowed;
        width: 5rem !important;
    }
    #contactForm input {
        width: 100%;
        font-size: 0.75rem;
    }
    #messageForm {
        width: 75%;
        align-items: center;
    }
    .formContents textarea {
        font-size: 0.75rem;
    }
    .formClose {
        margin-left: 20rem;
        color: #184461;
    }
    .formClose svg {
        width: 1.5rem;
    }

    #h1 {
        font-size: 2rem;
    }



    footer {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 0.5rem;
        margin-bottom: 0.5rem;
    }
    #simpcxty {
        font-size: 3rem;
    }
    .footerForm {
        font-size: 1rem;
        align-items: center;
        gap: 0.5rem;
    }
    #footerForm {
        font-size: 0.75rem;
    }
    #footerForm input {
        width: 100%;
        max-width: 100%;
    }
    #copyright {
        font-size: 1rem;
    }
}
@media screen and (max-width: 400px) {
    #songTitle{
        font-size: 2rem;
    }
    .button {
        padding-left: 3.5rem;
        padding-right: 3.5rem;
    }
    .button p {
        text-align: center;
        font-size: 1.25rem;
    }
    .formClose {
        margin-left: 13rem;
        color: #184461;
    }
}
