/* Font Imports: Kristi and SpecialElite */
@font-face {
    font-family: "Kristi";
    src: url(./Fonts/Kristi-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "SpecialElite";
    src: url(./Fonts/SpecialElite-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
:root {
    font-size: 100%;
}
.appBackground {
    position: relative;
    height: 100vh;
}
/* Background Image for the simpcxty version of the app is a photo that complements the cover of the latest release; same with the color pallete */
.backgroundImage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./Images/background.JPEG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    opacity: 0.5;
}
.backgroundTint {
    background-color: rgba(68, 112, 147, 0.4);
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}
/* Added the image and a solid color to add a tint effect and mute the colors of the image */

/*Header/Navbar css section*/
.headerBar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: "specialElite";
}
.nav {
    list-style: none;
    display: flex;
    gap: 2rem;
}
.nav a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    border: 1px solid transparent;
    position: relative;
}
/* Underline animation for hovering over navigation items */
.nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0rem;
    width: 100%;
    height: 0.1rem;
    background-color: black;
    transition: transform .5s ease;
    transform: scaleX(0);
    transform-origin: bottom
}
.nav a:hover::after {
    transform: scaleX(1);
}
.h1 {
    font-family: "Kristi";
    font-size: 6.5rem;
    padding-left: 15.5rem;
}
/* Set left padding to ~9.5rem wehn P>G> link is rendered */
.h1 a {
    text-decoration: none;
    color: black;
    cursor: grabbing;
}
.icons {
    display: flex;
    gap: 1.5rem;
}
.icons a {
    color: black;
}
.internalNav{
    display: 'flex';
    flex-direction: 'row';
    align-items: 'center';
    justify-content: 'center';
    font-family: 'SpecialElite';
    font-size: '2.5rem';
    margin-top: '0';
    cursor: 'pointer';
    list-style: none;
    display: flex;
    gap: 2rem;
}
#internalNav li {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    border: 1px solid transparent;
    position: relative;
}
#internalNav li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0rem;
    width: 100%;
    height: 0.1rem;
    background-color: black;
    transition: transform .5s ease;
    transform: scaleX(0);
    transform-origin: bottom
}
#internalNav li:hover::after {
    transform: scaleX(1);
}
/* Hero Section CSS */
.hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24rem;
}
.hero a {
    text-decoration: none;
}
.heroImage img {
    width: 31.25rem;
    height: 31.25rem;
    box-shadow: 2rem 2rem 4rem rgba(0, 0, 0, 0.25);
    transition: all 0.5s;
    cursor: pointer;
}
.heroImage img:hover {
    transform: scale(1.05);
}
.heroImage img:active {
    transform: scale(0.95);
}
.cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#songTitle {
    font-family: "SpecialElite";
    font-size: 4rem;
    color: #184461;
    text-align: center;
}

/* Call to Action button styling */
.button {
    border: none;
    background-color: #184461;
    font-family: "SpecialElite";
    font-size: 1.5rem;
    color: #D7D4DB;
    text-align: center;
    padding: 0.5rem 5rem;
    cursor: pointer;
    transition: all 0.2s;
}
.button a {
    text-decoration: none;
    color: #D7D4DB;
}
.button:hover {
    background-color: #D7D4DB;
    color: #184461;
}
.button:active {
    transform: scale(0.85);
    background-color: #1C5D3B;
    color: #D7D4DB;
}

/* Contact Page CSS Styling */
.contactContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 2.75rem;
    padding-right: 2.75rem;
    padding-bottom: 2.75rem;
    margin-left: 10.85rem;
    margin-right: 20rem;
    font-family: 'SpecialElite';
}
#conHeader {
    font-size: 6rem;
    font-family: 'Kristi';
}
.contactContainer p {
    font-size: 1.5rem;
    width: 75rem;
    line-height: 2rem;
    background-color: rgba(215, 212, 219, 0.75);
    border-top-left-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
    padding: 1rem;
}
.contactContainer button {
    width: 15rem;
    padding-left: 4.25rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 4rem;
    text-align: center;
}
.contactForm {
    height: 1rem;
    width: 100%;
}
.contactForm form{
    z-index: 100;
    border: #1C5D3B solid;
    background-color: #D7D4DB;
    position: relative;
    height: 50rem;
    bottom: 40.4rem;
    opacity: 0.97;
    transition: all 0.4s;
    box-shadow: 2rem 2rem 4rem rgba(0, 0, 0, 0.25);
}
.formButton {
    border: none;
    background-color: #184461;
    font-family: "SpecialElite";
    font-size: 1.5rem;
    color: #D7D4DB;
    text-align: center;
    padding: 0.5rem 2rem;
    cursor: pointer;
    transition: all 0.2s;
}
.formButton:hover {
    background-color: #447093;
}
.formButton:active {
    transform: scale(0.85);
    background-color: #1C5D3B;
    color: #D7D4DB;
}
.formContents {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.mobileCon {
    display: none;
}
#contactForm {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    font-family: 'SpecialElite';
}
#contactForm input {
    width: 25rem;
    height: 2rem;
}
#messageForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 1;
    margin: 2rem;
    justify-content: center;
    align-items: center;
    font-family: 'SpecialElite';
    text-align: start;
}
.formClose {
    cursor: pointer;
    display: flex;
    justify-content: right;
    margin-top: 1rem;
    margin-right: 2rem;
}

footer {
    font-family: 'SpecialELite';
}
footer a {
    color: black !important;
}
.footerContainer {
    background-color: #D7D4DB !important;
    color: black;
    margin-top: 5rem;
    width: 100%;
}
.footerTop {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5rem;
}
#simpcxty{
    display: flex;
    flex-direction: column;
    font-family: 'Kristi';
    color: #184461;
    font-size: 5rem;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    position: relative;
}
.footerLinks a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    transition: all 0.2s;
    font-family: 'SpecialElite';
}
.footerLinks a:active {
    transform: scale(0.85);
}
.footerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: .11rem;
    font-size: 1.2rem;
}
#footerForm input{
    width: 25rem;
    margin-right: 1.625rem;
    height: 2.5rem;
    font-family: 'SpecialELite';
}
.footerButton {
    border: none;
    background-color: #184461;
    font-family: "SpecialElite";
    font-size: 1.5rem;
    color: #D7D4DB;
    text-align: center;
    padding: 1.75rem 2.5rem;
    cursor: pointer;
    transition: all 0.2s;
    margin-left: 1.625rem;
}
.footerButton a {
    text-decoration: none;
    color: #D7D4DB;
}
.footerButton:hover {
    background-color: #447093;
    color: #D7D4DB;
}
.footerButton:active {
    transform: scale(0.85);
    background-color: #1C5D3B;
    color: #D7D4DB;
}
#copyright {
    padding: 1.5rem;
    font-size: 1.25rem;
}

@media screen and (max-width: 1020px) {
    .headerBar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        position: fixed;
        z-index: 999;
        gap: 9.5rem;
        max-width: 100%;
        width: 100%;
        height: 5rem;
        background-color: #D7D4DB;
    }
    .h1 {
        margin: 0;
        font-size: 3.75rem;
        padding: 0;
    }
    .icons {
        display: none;
    }
    .nav {
        display: none;
    }
    .navButton {
        display: none;
    }
    .internalNav{
        display: 'flex';
        flex-direction: 'row';
        align-items: 'center';
        justify-content: 'center';
        font-family: 'SpecialElite';
        font-size: '2.5rem';
        margin-top: '0';
        cursor: 'pointer';
    }
    .footerTop {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 1rem;
    }
    #footerForm input {
        width: 100%;
        max-width: 100%;
    }
    .hero {
        flex-direction: column;
        max-width: 100%;
        width: 100%;
        padding-top: 5rem;
        gap: 3rem;
    }
    .heroImage img {
        width: 100%;
        height: auto;
    }
    .heroImage img:hover {
        transform: scale(1);
    }
    .cta {
        font-size: 3rem;
        text-align: center;
    }

.mobileCon {
    border: none;
    background-color: #184461;
    font-family: "SpecialElite";
    font-size: 1.5rem;
    color: #D7D4DB;
    text-align: center;
    padding: 0.5rem 5rem;
    cursor: pointer;
    transition: all 0.2s;
}
.mobileCon a {
    text-decoration: none;
    color: #D7D4DB;
}
.mobileCon:hover {
    background-color: #D7D4DB;
    color: #184461;
}
.mobileCon:active {
    transform: scale(0.85);
    background-color: #1C5D3B;
    color: #D7D4DB;
}
    main {
        width: 100%;
        padding-top: 5rem;
    }
    .contactContainer {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        max-width: 100%;
        padding: 0;
        margin: 0;
        width: 100%;
        padding-top: 1rem;
    }
    .contactContainer p {
        font-size: 1rem;
        width: 100%;
        max-width: fit-content;
        text-align: center;
    }
    .contactForm {
        height: 100%;
        width: 100%;
    }
    .contactForm form {
        opacity: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: whitesmoke;
        border: ghostwhite solid;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        font-size: 1.5rem;
        z-index: 9999;
    }
    #contactForm input {
        width: 100%;
    }
    #messageForm {
        width: 10rem;
        height: 5rem;
        margin-left: 1rem;
        align-items: center;
    }
    .formClose {
        margin-left: 20rem;
    }
    #conHeader {
        font-size: 4rem;
        text-align: center;
    }
    #h1 {
        font-size: 2rem;
    }

}

@media screen and (min-width:1021px) and (max-width: 1700px) {
    .heroText {
        font-size: 5rem;
        text-align: center;
    }
    .archiveContainer p {
        font-size: 1.75rem;
    }
    .h1 {
        position: relative;
        font-size: 4rem;
    }
    #conHeader {
        font-size: 3.25rem;
    }
    .contactContainer {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        max-width: 100%;
        padding: 0;
        margin: 0;
        width: 100%;
        padding-top: 1rem;
    }
    .contactContainer p {
        text-align: center;
        flex-wrap: wrap;
        max-width: 100%;
    }
}


@media screen and (min-width: 1020px) {
    #mobile {
        display: none;
    }
}
.mobileMenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #D7D4DB;
    border: #1C5D3B solid;
    gap: 1.5rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    font-size: 1.5rem;
    z-index: 9999;
}
.mobileMenu nav {
    width: 100%;
}
.mobileMenu a {
    list-style: none;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s;
    color: black;
}
.mobileMenu li {
    list-style: none;
    text-align: center;
    padding-right: 3.5rem;
    text-decoration: none;
}
.mobileMenu a:hover {
    text-decoration: underline;
}
.mobileMenu a:active{
    transform: scale(0.85);
}
.mobileNav{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    color: black;
}
#mobile {
    cursor: pointer;
    transition: all 0.2s;
    color: black;
    margin-top: 1rem;
}
#mobile:active {
    transform: scale(0.85);
}
#mobileButton{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}
#menuClose {
    cursor: pointer;
    display: flex;
    justify-content: left;
}
.mobileIcons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    gap: 1.5rem;
    color: black;
}