/* Font Imports: Kristi and SpecialElite */
@font-face {
    font-family: "Kristi";
    src: url(./Fonts/Kristi-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "SpecialElite";
    src: url(./Fonts/SpecialElite-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
:root {
    font-size: 100%;
}
.appBackground {
    position: relative;
    height: 100vh;
}
/* Background Image for the simpcxty version of the app is a photo that complements the cover of the latest release; same with the color pallete */
.backgroundImage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./Images/background.JPEG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    opacity: 0.39;
}
.backgroundTint {
    background-color: rgba(68, 112, 147, 0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}
/* Added the image and a solid color to add a tint effect and mute the colors of the image */
h2 {
    font-family: 'SpecialElite';
}


/*Header/Navbar css section*/
.headerBar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: "specialElite";
    flex-wrap: wrap;
    margin-bottom: -5rem;
}
.nav {
    list-style: none;
    display: flex;
    gap: 2rem;
}
.nav a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    border: 1px solid transparent;
    position: relative;
}
.nav a:hover {
    color: #D7D4DB;
}
/* Underline animation for hovering over navigation items */
.nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0rem;
    width: 100%;
    height: 0.1rem;
    background-color: #D7D4DB;
    transition: transform .5s ease;
    transform: scaleX(0);
    transform-origin: bottom
}
.nav a:hover::after {
    transform: scaleX(1);
}
#title {
    font-family: "Kristi";
    font-size: 6.5rem;
    padding-left: 9rem;
}
/* Set left padding to ~3.25rem when P.G. link is rendered */
#title a {
    text-decoration: none;
    color: black;
    cursor: grabbing;
}
#title a:hover {
    color: #447093;
}
.icons {
    display: flex;
    gap: 1.5rem;
}
.icons a {
    color: black;
}
.icons a:hover {
    color: #447093;
}


.internalNav{
    display: 'flex';
    flex-direction: 'row';
    align-items: 'center';
    justify-content: 'center';
    font-family: 'SpecialElite';
    font-size: '2.5rem';
    margin-top: '0';
    cursor: 'pointer';
    list-style: none;
    display: flex;
    gap: 2rem;
}
#internalNav li {
    text-decoration: none;
    color: #D7D4DB;
    font-size: 1.5rem;
    border: 1px solid transparent;
    position: relative;
}
#internalNav li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0rem;
    width: 100%;
    height: 0.1rem;
    background-color: #184461;
    transition: transform .5s ease;
    transform: scaleX(0);
    transform-origin: bottom
}
#internalNav li:hover::after {
    transform: scaleX(1);
}


/* Hero Section CSS */
.hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24rem;
    margin-top: 5rem;
}
.hero a {
    text-decoration: none;
}
.heroImage img {
    width: 31.25rem;
    height: 31.25rem;
    box-shadow: 2rem 2rem 4rem rgba(0, 0, 0, 0.25);
    transition: all 0.5s;
    cursor: pointer;
}
.heroImage img:hover {
    transform: scale(1.05);
}
.heroImage img:active {
    transform: scale(0.95);
}
.cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#songTitle {
    font-family: "SpecialElite";
    font-size: 4rem;
    color: #184461;
    text-align: center;
}


/* Call to Action button styling */
.button {
    border: none;
    background-color: #184461;
    font-family: "SpecialElite";
    font-size: 1.5rem;
    color: #D7D4DB;
    text-align: center;
    padding: 0.5rem 5rem;
    cursor: pointer;
    transition: all 0.2s;
}
.button a {
    text-decoration: none;
    color: #D7D4DB;
}
.button:hover {
    background-color: #D7D4DB;
    color: #184461;
}
.button:active {
    transform: scale(0.85);
    background-color: #1C5D3B;
    color: #D7D4DB;
}
.music {
    max-width: 100%;
    margin-top: 15rem;
    margin-bottom: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}
.music h2 {
    font-family: 'SpecialElite';
    font-size: 2.75rem;
    margin-bottom: 0;
}
#simpSpan {
    margin: 0;
    padding: 0;
    font-size: 5rem;
    color: #184461;
}
.music section{
    text-align: center;
}
.players {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    position: relative;
    right: 40rem;
    bottom: 25rem;
}
.ten12 {
    width: 31.25rem;
    height: 31.25rem;
    overflow: hidden;
    box-shadow: 2rem 2rem 4rem rgba(0, 0, 0, 0.25);
    
}
.ten12 img{
    width: 31.25rem;
    height: auto;
    cursor: pointer;
}
.tenLinks {
    display: flex;
    gap: 15rem;
}
.tenLinks a {
    color: black;
    transition: all 0.5s;
    cursor: pointer;
}
.tenLinks a:hover {
    transform: scale(1.25);
}
#spotify:hover {
    color: #1ed760;
}
#apple:hover {
    color: #fc3c44;
}
.tenLinks a:active {
    transform: scale(0.85);
}











.visuals {
    margin-top: 5rem;
    max-width: 100%;
}


.photos {
    display: flex;
    justify-content: center;
    align-items: center;
}
.photos img {
    height: auto;
    width: 100rem;
}
iframe {
    position: relative;
    top: 27rem;
    left: 41rem;
    margin: 0;
}







/* Contact Page CSS Styling */
.contactContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 2.75rem;
    padding-right: 2.75rem;
    padding-bottom: 2.75rem;
    margin-left: 10.85rem;
    margin-right: 20rem;
    font-family: 'SpecialElite';
}
#conHeader {
    font-size: 6rem;
    font-family: 'Kristi';
}
.contactContainer p {
    font-size: 1.5rem;
    width: 75rem;
    line-height: 2rem;
    border: rgba(215, 212, 219, 0.75) solid;
    border-top-left-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
    padding: 1rem;
}
.contactContainer button {
    width: 15rem;
    padding-left: 4.25rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 4rem;
    text-align: center;
}
.conButton {
    border: none;
    background-color: #184461;
    font-family: "SpecialElite";
    font-size: 1.5rem;
    color: #D7D4DB;
    text-align: center;
    padding: 0.5rem 5rem;
    cursor: pointer;
    transition: all 0.2s;
}
.conButton a {
    text-decoration: none;
    color: #D7D4DB;
}
.conButton:hover {
    background-color: #D7D4DB;
    color: #184461;
}
.conButton:active {
    transform: scale(0.85);
    background-color: #1C5D3B;
    color: #D7D4DB;
}



/* Contact form CSS styling */
.contactForm {
    height: 10rem;
    width: 100%;
}
.contactForm form{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    border: #1C5D3B solid;
    color: #D7D4DB;
    border-radius: 1rem;
    background-color: #184461;
    position: relative;
    height: 50rem;
    bottom: 40.4rem;
    opacity: 0.97;
    transition: all 0.4s;
    box-shadow: 2rem 2rem 4rem rgba(0, 0, 0, 0.25);
}
.formButton {
    border: none;
    background-color: #1C5D3B;
    font-family: "SpecialElite";
    font-size: 1.5rem;
    color: #D7D4DB;
    text-align: center;
    padding: 0.5rem 2rem;
    cursor: pointer;
    transition: all 0.2s;
}
.formButton:hover {
    background-color: #447093;
}
.formButton:active {
    transform: scale(0.85);
    background-color: #1C5D3B;
    color: #D7D4DB;
}
.formButton:disabled {
    background-color: #D7D4DB;
    color: #1C5D3B;
    border: whitesmoke dotted;
    cursor: not-allowed;
}
.formContents {
    display: flex;
    flex-direction: column;
    height: 100%;
}
#contactForm {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    font-family: 'SpecialElite';
}
#contactForm input {
    width: 25rem;
    height: 2rem;
}
#messageForm {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 1rem;
    width: 25rem;
    justify-content: center;
    align-items: center;
    font-family: 'SpecialElite';
    text-align: start;
}
.formClose {
    cursor: pointer;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    margin-top: 1rem;
    margin-left: 70rem;
}







.press {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}
#pressh2{
    font-size: 2.5rem;
    margin-top: 2.5rem;
    font-family: 'SpecialElite';
}
.press p {
    margin: 0;
    font-family: 'SpecialElite';
    color: #184461;
}
.press a {
    color: #184461;
    cursor: pointer;
}
.articles {
    display: flex;
    gap: 15rem;
}
.articles a {
    transition: all 0.8s;
    cursor: pointer;
}
.articles a:hover{
    transform: scale(1.2);
}
.articles a:active {
    transform: scale(0.85);
}
.articles img {
    width: 40rem;
    height: auto;
    box-shadow: 2rem 3rem 2rem rgba(0, 0, 0, 0.25);
    border: #447093 .12rem solid;
}












/* Footer CSS styling */
footer {
    font-family: 'SpecialELite';
}
footer a {
    color: black !important;
}
.footerContainer {
    background-color: #D7D4DB !important;
    color: black;
    margin-top: 5rem;
    width: 100%;
}
.footerTop {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5rem;
}
#simpcxty{
    display: flex;
    flex-direction: column;
    font-family: 'Kristi';
    color: #184461;
    font-size: 5rem;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    position: relative;
}
#simpcxty:hover {
    color: #1C5D3B;
}
.footerLinks a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    transition: all 0.2s;
    font-family: 'SpecialElite';
}
.footerLinks a:active {
    transform: scale(0.85);
}
.footerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: .11rem;
    font-size: 1.2rem;
}
#footerForm input{
    width: 25rem;
    margin-right: 1.625rem;
    height: 2.5rem;
    font-family: 'SpecialELite';
}
.footerButton {
    border: none;
    background-color: #184461;
    font-family: "SpecialElite";
    font-size: 1.5rem;
    color: #D7D4DB;
    text-align: center;
    padding: 1.75rem 2.5rem;
    cursor: pointer;
    transition: all 0.2s;
    margin-left: 1.625rem;
}
.footerButton a {
    text-decoration: none;
    color: #D7D4DB;
}
.footerButton:hover {
    background-color: #447093;
    color: #D7D4DB;
}
.footerButton:active {
    transform: scale(0.85);
    background-color: #1C5D3B;
    color: #D7D4DB;
}
.footerButton:disabled {
    background-color: #D7D4DB;
    color: #1C5D3B;
    border: whitesmoke dotted;
    cursor: not-allowed;
}
#copyright {
    padding: 1.5rem;
    font-size: 1.25rem;
}

/* Hides mobile/tablet menu button when on Large screens */
@media screen and (min-width: 1020px) {
    #mobile {
        display: none;
    }
    .mobileCon {
        display: none;
    }
}


/* Medium/Small Laptop screen formatting for smooth transitions */
@media screen and (min-width:1021px) and (max-width: 1700px) {
    .hero {
        font-size: 5rem;
        text-align: center;
        gap: 8rem;
    }
    .archiveContainer p {
        font-size: 1.75rem;
    }
    .h1 {
        position: relative;
        font-size: 5rem;
    }
    #conHeader {
        font-size: 5.5rem;
    }
    .contactContainer {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        max-width: 100%;
        padding: 0;
        margin: 0;
        width: 100%;
        padding-top: 1rem;
    }
    .contactContainer p {
        text-align: center;
        flex-wrap: wrap;
        max-width: 100%;
    }
    .contactForm form {
        bottom: 36rem;
        opacity: 1;
        background-color: #1C5D3B;
        border: #D7D4DB solid;
    }
    .formClose {
        margin-left: 25rem;
    }
    .photos {
        width: 100%;
        height: auto;
    }
    .photos img {
        width: 100%;
    }
}




/* Mobile/Tablet styling Below */
@media screen and (max-width: 1020px) {
    .headerBar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        position: fixed;
        z-index: 999;
        width: 100%;
        height: 5rem;
        background-color: #D7D4DB;
    }
    #title {
        font-size: 3.75rem;
        padding: 0;
        position: relative;
        bottom: 3.75rem;
    }
    #title a{
        color: #447093;
    }
    #title a:hover{
        color: #447093;
    }
    .icons {
        display: none;
    }
    .nav {
        display: none;
    }
    .navButton {
        display: none;
    }


    .internalNav li{
        display: none;
    }


    .hero {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        width: 100%;
        padding-top: 5rem;
        gap: 1rem;
        padding-top: 0;
    }
    .heroImage {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .heroImage img {
        width: 80%;
        height: auto;
    }
    .heroImage img:hover {
        transform: scale(1);
    }
    .cta {
        font-size: 3rem;
        text-align: center;
    }


    main {
        width: 100%;
        padding-top: 5rem;
    }


    .players {
        flex-direction: column;
    }
    .ten12 {
        width: 80%;
        height: 19.5rem;
    }
    .ten12 img {
        width: 100%;
    }
    .tenLinks {
        gap: 10rem;
    }
    .music {
        margin-bottom: 5rem;
    }

    .photos {
        width: 100%;
        height: auto;
    }
    .photos img {
        width: 100%;
    }

    .contactContainer {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        max-width: 100%;
        padding: 0.5rem;
        margin: 0;
        padding-top: 1rem;
    }
    .contactContainer p {
        font-size: 0.8rem;
        width: 100%;
        max-width: -moz-fit-content;
        max-width: fit-content;
        text-align: center;
        border: #D7D4DB solid;
        border-radius: 0;
        margin: 0;
    }    
    #conHeader {
        font-size: 4rem;
        text-align: center;
    }


    .contactForm {
        height: 100%;
        width: 100%;
    }
    .contactForm form {
        opacity: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #447093;
        border: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        font-size: 1.5rem;
        z-index: 9999;
        border-radius: 0;
    }
    .formButton {
        display: none;
    }
    .conButton {
        display: none;
    }
    .mobileCon {
        border: none;
        background-color: #184461;
        font-family: "SpecialElite";
        font-size: 1.5rem;
        color: #D7D4DB;
        text-align: center;
        padding: 0.5rem 5rem;
        cursor: pointer;
        transition: all 0.2s;
    }
    .mobileCon a {
        text-decoration: none;
        color: #D7D4DB;
    }
    .mobileCon:hover {
        background-color: #D7D4DB;
        color: #184461;
    }
    .mobileCon:active {
        transform: scale(0.85);
        background-color: #1C5D3B;
        color: #D7D4DB;
    }
    .mobileCon:disabled {
        background-color: #D7D4DB;
        color: #1C5D3B;
        border: whitesmoke dotted;
        cursor: not-allowed;
    }
    #contactForm input {
        width: 100%;
    }
    #messageForm {
        width: 12rem;
        height: 5rem;
        align-items: center;
    }
    .formClose {
        margin-left: 20rem;
        color: #D7D4DB;
    }

    .press {
        text-align: center;
    }
    .articles {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1rem;
        gap: 5rem;
    }
    .articles img {
        width: 100%;
    }

    #h1 {
        font-size: 2rem;
    }



    .footerTop {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 1rem;
    }
    #simpcxty {
        font-size: 3rem;
    }
    .footerForm {
        font-size: 1rem;
        align-items: center;
        gap: 0.5rem;
    }
    #footerForm {
        font-size: 0.75rem;
    }
    #footerForm input {
        width: 100%;
        max-width: 100%;
    }
    #copyright {
        font-size: 1rem;
    }
}
@media screen and (max-width: 400px) {
    #songTitle{
        font-size: 2rem;
    }
    .button {
        padding-left: 3.5rem;
        padding-right: 3.5rem;
    }
    .button p {
        text-align: center;
        font-size: 1.25rem;
    }
    .formClose {
        margin-left: 13rem;
        color: #D7D4DB;
    }
}

.mobileMenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #184461;
    gap: 1.5rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    font-size: 1.5rem;
    z-index: 9999;
}
.mobileMenu nav {
    width: 100%;
}
.mobileMenu a {
    list-style: none;
    text-align: center;
    text-decoration: none;
    color: #D7D4DB;
}
.mobileMenu li {
    list-style: none;
    text-align: center;
    padding-right: 3.5rem;
    text-decoration: none;
    transition: all 0.2s;
    padding: 0;
}
.mobileMenu li:active{
    transform: scale(0.85);
}
.mobileNav{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    color: black;
}
.mobileNav ul{
    margin-bottom: 0;
    padding: 0;
    font-size: 2.25rem;
}
#mobile{
    cursor: pointer;
    transition: all 0.2s;
    color: #447093;
    margin-top: 1rem;
    margin-left: 0.75rem;
}
#mobile:hover{
    color: #447093;
}
#mobile:active {
    transform: scale(0.85);
}
#mobileButton{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}
#menuClose {
    cursor: pointer;
    display: flex;
    justify-content: left;
}
.mobileIcons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: auto;
    gap: 1.75rem;
    color: #D7D4DB;
    margin-top: 15rem;
}