@font-face {
    font-family: "Kristi";
    src: url(./Fonts/Kristi-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "SpecialElite";
    src: url(./Fonts/SpecialElite-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: "Kristi";
}